appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1733332318622/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1763409923949/work
Bottleneck @ file:///opt/miniconda3/conda-bld/bottleneck_1761937850165/work
comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
contourpy @ file:///opt/miniconda3/conda-bld/contourpy_1763643920606/work
cycler @ file:///Users/ec2-user/croot/cycler_1766067932347/work
debugpy @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_debugpy_1765840821/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1756729339227/work
fonttools @ file:///Users/ec2-user/buildout/croot/fonttools_1759953697800/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_ipykernel_1761567969/work
ipympl==0.9.8
ipython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipython_1764766793/work
ipython_pygments_lexers @ file:///home/conda/feedstock_root/build_artifacts/ipython_pygments_lexers_1737123620466/work
ipywidgets==8.1.8
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_client_1765375773/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_core_1760643864/work
jupyterlab_widgets==3.0.16
kiwisolver @ file:///opt/miniconda3/conda-bld/kiwisolver_1764159406929/work
matplotlib==3.10.7
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1761214490209/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
numexpr @ file:///opt/miniconda3/conda-bld/numexpr_1762165517928/work
numpy @ file:///opt/miniconda3/conda-bld/numpy_and_numpy_base_1763980678293/work/dist/numpy-2.3.5-cp314-cp314-macosx_12_0_arm64.whl#sha256=d7c3ac254f0620a68a8a4737c7f33850d81f85c6e5a8acf761852b4780543f48
packaging @ file:///opt/miniconda3/conda-bld/packaging_1761049079068/work
pandas @ file:///opt/miniconda3/conda-bld/pandas_1762332181238/work/dist/pandas-2.3.3-cp314-cp314-macosx_12_0_arm64.whl#sha256=57da79e136a56bdcc16167b26420258d02d489b9b2376cc5d4f7090e9930b83a
parso @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_parso_1755974222/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pillow @ file:///Users/ec2-user/buildout/croot/pillow_1759953916943/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1764950726/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1756321756983/work
psutil @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_psutil_1762093068/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1750615794071/work
pyparsing @ file:///opt/miniconda3/conda-bld/pyparsing_1763973789564/work
python-dateutil @ file:///Users/ec2-user/buildout/croot/python-dateutil_1759952060416/work
pytz @ file:///Users/ec2-user/buildout/croot/pytz_1759953521738/work
PyYAML==6.0.3
pyzmq @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_pyzmq_1757387128/work
scipy @ file:///Users/ec2-user/buildout/croot/scipy_1763762647515/work/dist/scipy-1.16.3-cp314-cp314-macosx_12_0_arm64.whl#sha256=ff51f0636a201a66a1db2bb22b67f250c9653714665ffd2027efd0d22847dc41
six @ file:///Users/ec2-user/buildout/croot/six_1759951952559/work
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
tornado @ file:///Users/ec2-user/buildout/croot/tornado_1759952144757/work
tqdm @ file:///opt/miniconda3/conda-bld/tqdm_1762863349198/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata @ file:///croot/python-tzdata_1746123641790/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1758622279606/work
widgetsnbextension==4.0.15
yml==0.0.1
